/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    /*background: #fafafa;*/
    background: #f2f2ef;
    font-size: 12px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-no-margins {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    /*margin: 40px 0;*/
    margin: 10px 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    /*background: #7386D5;*/
    /*background: #455a64;*/
    /*background-color: #343a40;*/
    background: #545454;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #053600;
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    padding: 20px 0 0 0;
    height: 100%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    display: block;
    margin: 1px 10px;
    padding: 10px 10px;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #474749;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /*background: #6d7fcc;*/
    background: #474749;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 10px !important;
    background: #373737;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.nav-link {
    font-size: 14px;
}

.fa-times-circle {
    width: 1.3rem !important;
    height: 1.3rem;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#blogspot {
    background-color: #262626;
    height: 200px;
    text-align: center;
    /*padding: 25px 0 10px;*/
    /*margin-top: 5px;*/
    overflow: hidden;
}

.forma {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    border-radius: 20%;
}

.pagination {
    justify-content: center;
}

/*contact start*/
.contact-image{
    text-align: center;
}

.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form{
    padding-top: 4%;
    padding-bottom: 14%;
    padding-left: 4%;
    padding-right: 4%;
}

.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 5%;
    margin-top: -10%;
    text-align: center;
}

.contact-form label {
    font-weight: bold;
    font-size: 14px;
}

.contact-form input::-webkit-input-placeholder {
    font-size: 11px;
    font-style: italic;
}

.contact-form textarea::-webkit-input-placeholder {
    font-size: 11px;
    font-style: italic;
}

.contact-form input:focus,
.contact-form input:hover,
.contact-form textarea:focus,
.contact-form textarea:hover {
    outline: 0;
    border: 1px solid #000;
    box-shadow: none;
}

.form-intro p {
    font-weight: 600;
    color: #000;
}
/*contact end*/


/* Breakpoints */
@media (max-width: 991.98px) { 
    .page-link {
        padding: .2rem .45rem;
    }
    .table td {
        padding: 0.40rem;
    }
}

@media (max-width: 767.98px) { 
    .team-name {
        font-size: 10px;
    }
}

/*toggle button css*/
/* The switch - the box around the slider */
.switch-toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: -3px;
}

/* Hide default HTML checkbox */
.switch-toggle input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-disabled {
  background-color: #28283b;
}
/*end of toggle button css*/