/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    /*background: #fafafa;*/
    background: #f2f2ef;
    font-size: 12px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-no-margins {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    /*margin: 40px 0;*/
    margin: 10px 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    /*background: #7386D5;*/
    background: #455a64;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /*background: #7386D5;*/
    background: #191c1f;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #191c1f;
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    padding: 20px 0 0 0;
    height: 100%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
    color: #cfd8dc;
    display: block;
    margin: 1px 10px;
    padding: 10px 10px;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #607d8b;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /*background: #6d7fcc;*/
    background: #607d8b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#blogspot {
    background-color: #262626;
    height: 200px;
    text-align: center;
    /*padding: 25px 0 10px;*/
    /*margin-top: 5px;*/
    overflow: hidden;
}

.forma {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    border-radius: 20%;
}

.pagination {
    justify-content: center;
}

/* Breakpoints */
@media (max-width: 991.98px) { 
    .page-link {
        padding: .2rem .45rem;
    }
    .table td {
        padding: 0.40rem;
    }
}

@media (max-width: 767.98px) { 
    .team-name {
        font-size: 10px;
    }
}